input {
    keyboard {
        xkb {
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "adaptive"
    }
    focus-follows-mouse
}
